# macOS system files
.DS_Store

# Quarto project files
.quarto

# R history and session data
.Rhistory
.RData
.Ruserdata

# RStudio project files and user settings
.Rproj.user/
*.Rproj

# OAuth credentials (e.g., for API access)
.httr-oauth

# Build artifacts created by R CMD check
*.tar.gz

# R package build ignore file
.Rbuildignore
*.pdf

# Revdep
revdep/

# Github
# .github/
.Rproj.user
.Rdata
inst/doc
/doc/
/Meta/
# Ignore everything in doc/
doc/*

# But do NOT ignore the vignette source
!doc/getting-started.Rmd

^CRAN-SUBMISSION$
